.orderhistory-container {
  min-height: 100vh;
}

.orderhistory-row:first-child {
  margin: 20px 0 80px 0;
}

.orderhistory-title {
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.orderhistory-row:last-child .orderhistory-col {
  display: flex;
  justify-content: center;
}
.orderhistory-row:last-child .orderhistory-col .tables {
  width: 50%;
}

.orderhistory-row:last-child .orderhistory-col .table {
  width: 100%;
}
